header {
    margin-bottom: 20px;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.logo {
    width: 250px;
    height: 100px;
}

.recipeItem {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-bottom: 50px;
    max-width: 325px;
    width: 100%;
    z-index: 1;
}

.recipes {
    flex-wrap: wrap;
    display: flex;
    margin-top: 40px;
    z-index: 1;
}

.recipeImage {
    width: 100%;
    height: 150px;
    background-color: rgb(187, 177, 177);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.recipeContent {
    background-color: rgb(230, 230, 230);
    padding: 15px;
    height: 150px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.recipeTitleWrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.recipeTitle {
    font-size: 15px;
    font-weight: 400;
}

.timeWrapper {
    display: flex;
}

.clock {
    margin-top: 4px;
    margin-right: 5px;
}

.recipeTime {
    font-weight: 500;
}

.recipeTextWrapper {
    display: flex;
    justify-content: space-between;
}

.recipeingredient {
    font-size: 10px;
    margin-top: -20px;
    overflow: hidden;
    white-space: nowrap;
}

.recipeDescription {
    font-size: 10px;
    max-width: 130px;
    margin-top: -20px;
    height: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 450;
    line-height: 1em;
}

.filters {
    margin: auto;
    height: 50px;
}

.ingredientFilter {
    position: relative;
    background-color: rgb(61, 131, 236);
    width: 180px;
    height: 50px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    color: white;
    margin-left: 192px;
    cursor: pointer;
    z-index: 99;
}

.filterDesign {
    margin-top: 5px;
    margin-left: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ingredientBar {
    background-color: rgb(61, 131, 236);
    border-radius: 5px;
    border: 0;
    outline: none;
    width: 120px;
    height: 40px;
    color: white;
    display: none;
}

.filterTitle {
    font-size: 20px;
    margin-top: 7px;
}

.filterChevron {
    margin-top: 0px;
    margin-right: 15px;
}

.filterContent {
    margin-left: 10px;
    max-height: 570px;
    max-width: 550px;
    padding-bottom: 15px;
    flex-wrap: wrap;
    display: none;
    overflow: scroll;
}

.filteringredient {
    font-size: 16px;
    padding: 2px 7px;
    min-width: 150px;
    box-sizing: border-box;
}

.filtersSelected {
    margin-left: 192px;
    margin-right: 200px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
}

.ingredientTagInSelection {
    background-color: rgb(61, 131, 236);
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
    margin-right: 15px;
}

.selectionRemove {
    margin-left: 7px;
}

/* .appliancesFilter {
    position: relative;
    background-color: rgb(155, 245, 167);
    width: 180px;
    height: 50px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    color: white;
    margin-left: 392px;
    cursor: pointer;
    z-index: 99;
}

.appliancesBar {
    background-color: rgb(155, 245, 167);
    border-radius: 5px;
    border: 0;
    outline: none;
    width: 120px;
    height: 40px;
    color: white;
    display: none;
}

.appliancesFilter {
    font-size: 16px;
    padding: 2px 7px;
    min-width: 150px;
    box-sizing: border-box;
}

.appliancesTagInSelection {
    background-color: rgb(155, 245, 167);
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
    margin-right: 15px;
} */